/* color variables */

$colorone: #2e8f64;
$colortwo: #2b5f51;
$colorthree: #2a5146;
$colorfour: #5a0d17;

/* end color variables */

a#searchopen:link,
a#searchopen:visited,
a#mobileclose:link, 
a#mobileclose:visited {
	color: $colortwo;
}

#mobile_nav,
#search {
	background: rgba($colorthree, 0.9);
}

header {
	background: url('../img/home.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#parallax{
	background: url('../img/parallax.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header#header_home_mobile .mobile_navigation_bar, header#header_page_mobile .mobile_navigation_bar {
	background: #ffffff;
	
	#mobileopen {
		color: $colortwo;
	}
}

header {
	#nav_bar.full_navigation {
		background: #ffffff;
		
		nav#primary_nav {
			ul {
				li {
					a:link,
					a:visited {
						color: #333333;
					}
				}
			}
		}

	}
	
	&#header_home {
		#home_logo {
			margin-top: -40px;
			
			#home_page_nav {
				ul {
					li {
						a:link,
						a:visited {
							background: $colorone;
						}
					}
				}
			}
		}
	}
	
	&#header_home_mobile {
		#home_logo {
			#home_page_nav {
				ul {
					li {
						a:link,
						a:visited {
							background: $colorone;
						}
					}
				}
			}
		}
	}
}

header#header_page {
	background: url('../img/page.jpg') no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

#attention_bar {
	background: $colortwo;
}

.content {
	h1,h3 {
		color: $colortwo;
	}
	
	hr.divider {
		background: $colortwo;
	}
	
	a:link,
	a:visited {
		color: $colortwo;
	}
	
	#accordion {
		& > h3 {
			color: #777777;
			font-weight: 600;
		}
		
		& > h3.ui-state-active {
			color: $colortwo;
		}
	}
	
}

footer {
	background: #ffffff;
}

#copyright {
	background: $colortwo;
}

/* responsive media queries */

@media (min-width: 980px) and (max-width: 1220px) {
	
}
	
@media (min-width: 768px) and (max-width: 979px) {
	
	header#header_page {
		background: url('../img/page_mobile.jpg') no-repeat;
	    background-size: 100%;
	    background-attachment: fixed;
	}
	
}
	
@media (min-width: 480px) and (max-width: 767px) {
	
	header{
		background: url('../img/home_mobile.jpg') no-repeat;
	    background-size: 100%;
	    background-attachment: fixed;
	}
	
	header#header_page {
		background: url('../img/page_mobile.jpg') no-repeat;
	    background-size: 100%;
	    background-attachment: fixed;
	}
	
	footer {
		#logo_footer {
			img {
				height: 60px;
			}
		}
	}
	
}
	
@media (min-width: 0px) and (max-width: 479px) {
	
	header {
		background: url('../img/home_mobile.jpg') no-repeat;
	    background-size: 100%;
	    background-attachment: fixed;
	}
	
	header#header_page {
		background: url('../img/page_mobile.jpg') no-repeat;
	    background-size: 100%;
	    background-attachment: fixed;
	}

	footer {
		#logo_footer {
			img {
				height: 40px;
			}
		}
	}
	
}